<div class = "content">
    <form [formGroup] = "dadosForm" (ngSubmit) = "exibidoraDados(dadosForm.value)" > 
        <input type = "email" name= "email" placeholder = "Informe seu Email" formControlName = "email" />
        <br />
        <input type = "password" name = "senha" placeholder = "Informe sua senha" formControlName = "senha" />
        <br />
        <input type = "submit" [disabled] = "!dadosForm.valid" value = "Enviar Dados" />
    </form>    
<!--exibir o valor da propriedade email-->
    <p>o email informado é: {{ email }}</p>
</div>

<!--

<form #capturaDados ="ngForm" (ngSubmit) = "recebedorDados(capturaDados.value)"> 
        <input type="email" name="email" placeholder =" Informe seu Email " ngModel />
        <br /><br />
        <input type="password" name="senha" placeholder=" Informe sua senha " ngModel />
        <br /><br />
        <input type="submit" value=" Enviar Dados"/>
    </form>

-->