<div class="content">
    <h2>Implementação ngStyle</h2>

    <!--primeira implementação da diretiva-->
    <br /><br />
    <input type="text" [(ngModel)] = "cores" />
    <div [ngStyle] = "{'color': cores}">
        Mudar cor do texto!
    </div>

    <!--segunda implementação da diretiva-->
    <br />
    <input type="number" [(ngModel)] = "tamanho" />
    <div [ngStyle] = "{'fon-size.px':tamanho}">
        Mude o tamanho deste texto!
    </div>

    <!--terceira implementação da diretiva-->
    <br />
    <div [ngStyle] = "objStyle">
        Muda a cor e o tamanho da fonte do texto - via propriedade descrita no arquivo.ts
    </div>
</div>
